*{
    box-sizing: border-box;
} 
h1{
text-align: center;
}
.heading1{
    position: relative;
    left: 70%;
    background-color: palevioletred;
    width:30%;
    height: 20%;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    text-align: center;
    font-size: large;
    
}
.heading2{
    position: relative;
    left: 70%;
    background-color: rgb(231, 79, 33);
    width:30%;
    height: 20%;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: large;
}
.heading3{
    position: relative;
    left: 70%;
    background-color: rgb(250, 176, 57);
    width:30%;
    height: 20%;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    text-align: center;
    font-size: large;
}
p{
    padding: 10px;
}
.first{
    border: 1px solid black;
    background-color:rgb(192, 188, 188);
    width:90%;
    height:200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    
}
.row{
    width: 100%;
}

@media (min-width:992px){
    
    .lg1, .lg2, .lg3, .lg4, .lg5, .lg6, .lg7, .lg8, .lg9, .lg10, .lg11, .lg12{
        float: left;
    }
    .lg1{
        width: 8.33%;
    }
    .lg2{
        width: 16.66%;
    }
    .lg3{
        width: 25%;
    }
    .lg4{
        width: 33%;
    }
    .lg5{
        width: 41.66%;
    }
    .lg6{
        width: 50%;
    }
    .lg7{
        width: 58.33;
    }
    .lg8{
        width: 66.66%;
    }
    .lg9{
        width: 74.99%;
    }
    .lg10{
        width: 83.33%;
    }
    .lg11{
        width: 91.66%;
    }
    .lg12{
        width: 100%;
    }
    
}
@media (min-width:768px) and (max-width:991px){
    .md1, .md2, .md3, .md4, .md5, .md6, .md7, .md8, .md9, .md10, .md11, .md12{
        float: left;
    }
    .md1{
        width: 8.33%;
    }
    .md2{
        width: 16.66%;
    }
    .md3{
        width: 25%;
    }
    .md4{
        width: 33%;
    }
    .md5{
        width: 41.66%;
    }
    .md6{
        width: 50%;
    }
    .md7{
        width: 58.33;
    }
    .md8{
        width: 66.66%;
    }
    .md9{
        width: 74.99%;
    }
    .md10{
        width: 83.33%;
    }
    .md11{
        width: 91.66%;
    }
    .md12{
        width: 100%;
    }
    
    
}
